@font-face {
        font-family: Product Sans;
        src: url("../fonts/Product\ Sans\ Regular.ttf");
}

@font-face {
        font-family: Product Sans;
        src: url("../fonts/Product\ Sans\ Bold.ttf");
        font-weight: bold;
}

.logo {
        margin-top: 200px;
        margin-bottom: 20px;
        font-size: 5em;
        font-family: Product Sans;
}

a:link {
        text-decoration: none;
}

a:visited {
        text-decoration: none;
        color: inherit;
}

a:hover {
        text-decoration: none;
}

a:active {
        text-decoration: none;
}

.logo-bold {
        font-weight: bold;
}

.bar {
        margin: 0 auto;
        width: 575px;
        border-radius: 30px;
        border: 1px solid #dcdcdc;
}

.bar:hover {
        box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within {
        box-shadow: 1px 1px 8px 1px #dcdcdc;
        outline: none;
}

.searchbar {
        height: 45px;
        border: none;
        width: 500px;
        font-size: 16px;
        outline: none;

}

.buttons {
        margin-top: 30px;
}

.button {
        background-color: #f5f5f5;
        border: none;
        color: rgb(60, 64, 67);
        font-size: 15px;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 4px;
        outline: none;
}

.button:hover {
        border: 1px solid #c8c8c8;
        padding: 9px 19px;
}

.button:focus {
        border: 1px solid #4885ed;
        padding: 9px 19px;
}
